[Service]
Environment="APP_SECRET_KEY=change-me-in-prod"
Environment="APP_DEMO_USER=admin"
Environment="APP_DEMO_PASS=admin"

User=ec2-user
Group=ec2-user
WorkingDirectory=/home/ec2-user/class25-26-project2


ExecStart=/home/ec2-user/class25-26-project2/.venv/bin/uvicorn app.main:app --host 0.0.0.0 --port 8000

Restart =always
RestartSec=5